<!DOCTYPE html>

<html>

    <head>

        <title>ScoreBox Cross Country</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/main.css">

    </head>

    <body>

        <div id="build-tag">
            {{version}}
        </div>

        <div id="header-chrome">
            <img src="/static/img/logo-white.png" height="50px">
            <h1>{{title}}</h1>
            <img src="/static/img/runner-icon.svg" height="25px">
            <h2>{{tag}}</h2>
            <div></div>
            <button class="btn" id="export-btn">Export Splits</button>
            <!-- <button class="btn red">New Race</button> -->
        </div>

        <div id="clock-dashboard" class="dash-contents">
            <h3>Timekeeping</h3>
            <p>
                Settings and status for timekeeping operations, primarily focused on the main race clock.  
                Starting the clock from this dashboard has the same effect as if it were started from a remote timekeeper.  
                Remote timekeepers can be any networked device with a web browser navigated to /timekeeper.  
                The clock will turn red if the realtime data connection is interrupted.
            </p>
            <div id="clock-settings">
                <div id="clock-container">
                    <div id="clock">
                        0:00
                    </div>
                </div>

                <button class="btn green" id="start-btn">
                    Start Race
                </button>

                <div class="toggle-container">
                    <div class="toggle-prompt">
                        Clock Visible
                    </div>
                    <button class="toggle" id="toggle-clock-no">No</button>
                    <button class="toggle toggled" id="toggle-clock-yes">Yes</button>
                </div>
            </div>
        </div>

        <div id="split-dashboard" class="dash-contents">
            <h3>
                Splits
            </h3>
            <p>
                Splits are controlled by remote timekeepers, this is a realtime display of the results.  
                The overlay displays results from the split (or finish) farthest along in the race.  
                A "new split" refers to a split that has just recieved data from it's first runner.  
                For example, when the first person finishes the race, the "Finish" split is considered the new split.
            </p>

            <div id="split-settings">
                <div class="toggle-container">
                    <div class="toggle-prompt">
                        Splits Visible
                    </div>
                    <button class="toggle" id="toggle-splits-no">No</button>
                    <button class="toggle toggled" id="toggle-splits-yes">Yes</button>
                </div>
                <div class="toggle-container">
                    <div class="toggle-prompt">
                        Auto Enable Visibility on New Split
                    </div>
                    <button class="toggle" id="toggle-splits-auto-no">No</button>
                    <button class="toggle toggled" id="toggle-splits-auto-yes">Yes</button>
                </div>
            </div>

            <table>
                <tr>
                    <th>Jersey</th>
                    <th>Team</th>
                    <th>Name</th>
                    {% for split in splits %}
                    <th>Split</th>
                    <th>{{split}}</th>
                    {% endfor %}
                    <th>Split</th>
                    <th>Finish</th>
                </tr>
                
                {% for runner in runners %}
                {% set run_loop = loop %}
                <tr>
                    <td>{{runner.jersey}}</td>
                    <td>{{runner.team}}</td>
                    <td>{{runner.name}}</td>
                    {% for split in splits %}
                    <td id="runner{{run_loop.index0}}-split-{{loop.index0}}-split"></td>
                    <td id="runner{{run_loop.index0}}-split-{{loop.index0}}-total"></td>
                    {% endfor %}
                    <td id="runner{{run_loop.index0}}-finish-split"></td>
                    <td id="runner{{run_loop.index0}}-finish-total"></td>
                </tr>
                {% endfor %}

            </table>
        </div>
        
        <script src="/static/third-party/socket.io.min.js"></script>
        <script src="/static/admin.js"></script>
    </body>

</html>