<!DOCTYPE html>

<html>

    <head>

        <title>Timekeeper | ScoreBox Cross Country</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/main.css">

    </head>

    <body>

        <div class="header">
            <div id="clock">
                28:07
            </div>

            <div id="menu">
                <button class="menu-btn">Start</button>
                <button class="menu-btn">Mile 1</button>
                <button class="menu-btn">Mile 2</button>
                <button class="menu-btn">Finish</button>
            </div>
        </div>

        <div id="start">

            <div class="center-contents-absolute">
                <button class="btn green big">
                    START RACE
                </button>
            </div>

        </div>

        <div id="mile-one">

        </div>

    </body>

</html>