<!DOCTYPE html>

<html>

    <head>

        <title>Timekeeper | ScoreBox Cross Country</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/main.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">

    </head>

    <body>

        <div class="header">
            <div id="clock" class="disconnected">
                0:00
            </div>

            <div id="menu">
                <button id="nav-start" class="menu-btn">Start</button>
                {% for split in splits %}
                <button id="nav-{{loop.index0}}" class="menu-btn nav-splits" data-splitindex="{{loop.index0}}" onclick="navSplitBtn(this)">{{split}}</button>
                {% endfor %}
                <button id="nav-finish" class="menu-btn">Finish</button>
            </div>
        </div>

        <div id="opener">
            <h1>{{title}}</h1>
            <h2>{{tag}}</h2>
            <p>
                Use the tabs across the top to select which split you are currently timekeeping. 
                With the exception of the finish, you cannot split a runner unless they have already been timed at all preceeding splits.
                Times are recorded when you tap the button, so it may make sense to position yourself a bit ahead of the split line to track runners in advance of the line.
                If you're unsure which runner is crossing the line, tap the "Unidentified Runner" button to mark the time.  
                After the fact you can associate or reassocated times with runners by altering their jersey number in the Results section at the bottom of each split.  
                Entering a " " as the jersey will clear the runner but keep the time.  Entering a '.' will clear the runner and the time.
                <br><br>
                The race clock at the top will turn red in the event your device looses it's realtime connection to the server.  
                Your device will attempt to reconnect automatically, and the clock will turn blue when successful.  
                Any splits you mark while disconnected will not count.
                <br><br>
                <em>PRO TIP:</em> Tapping the clock will toggle running the timekeeper fullscreen.
            </p>
        </div>

        <div id="start" class="hide">

            {% if heats|length  == 1 %}
            <button class="btn green big" id="start-btn-heat-1" data-heat="1" onclick="startEvent(this)" disabled>
                START RACE
            </button>
            {% else %}
                {% for heat in heats %}
                    <button class="btn green big" id="start-btn-heat-{{heat}}" data-heat="{{heat}}" onclick="startEvent(this)" disabled>
                        START HEAT {{heat}}
                    </button>
                {% endfor %}
            {% endif %}

        </div>

        {% for split in splits %}
        {% set split_loop = loop %}
        <div id="split-{{loop.index0}}" class="hide split-grid">
            <div class="btn-grid">
                {% for runner in runners %}
                <button disabled class="grid-btn {{runner.color}}" id="split-{{split_loop.index0}}-btn-{{runner.runner_index}}" data-runnerIndex="{{runner.runner_index}}" data-splitindex="{{split_loop.index0}}" onclick="splitRunner(this)">
                    <span class="runner-name">{{runner.name}}</span>
                    <span class="jersey-number">{{runner.jersey}}</span>
                    <span class="runner-clock" id="split-{{split_loop.index0}}-clock-{{runner.runner_index}}">0:00</span>
                </button>
                {% endfor %}
                <button class="grid-btn" data-splitindex="{{split_loop.index0}}" onclick="splitUnknown(this)">
                    <span class="runner-name">Unidentified Runner</span>
                    <span class="jersey-number">?</span>
                    <span class="runner-clock">&nbsp;</span>
                </button>
            </div>
            <h4>Results</h4>
            <div class="split-results" id="split-{{split_loop.index0}}-results">
                <p>No Results Yet</p>
            </div>
        </div>
        {% endfor %}

        <div id="finish" class="finish-grid hide">
            <div class="btn-grid">
                {% for runner in runners %}
                <button disabled class="grid-btn {{runner.color}}" id="finish-btn-{{runner.runner_index}}" data-runnerIndex="{{runner.runner_index}}" onclick="finishRunner(this)">
                    <span class="runner-name">{{runner.name}}</span>
                    <span class="jersey-number">{{runner.jersey}}</span>
                    <span class="runner-clock" id="finish-clock-{{runner.runner_index}}">0:00</span>
                </button>
                {% endfor %}
                <button class="grid-btn" onclick="finishUnknown(this)">
                    <span class="runner-name">Unidentified Runner</span>
                    <span class="jersey-number">?</span>
                    <span class="runner-clock">&nbsp;</span>
                </button>
            </div>
            <h4>Results</h4>
            <div class="split-results" id="finish-results">
                <p>No Results Yet</p>
            </div>
        </div>

        <img src="/static/img/logo-white.png" width="100px" class="logo-opacity">

        <script src="/static/third-party/socket.io.min.js"></script>
        <script src="/static/timekeeper.js"></script>
    </body>

</html>