<!DOCTYPE html>

<html>

    <head>

        <title>Timekeeper | ScoreBox Cross Country</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/main.css">

    </head>

    <body>

        <div class="header">
            <div id="clock">
                28:07
            </div>

            <div id="menu">
                <button class="menu-btn">Start</button>
                <button class="menu-btn checked">Mile 1</button>
                <button class="menu-btn">Mile 2</button>
                <button class="menu-btn">Finish</button>
            </div>
        </div>

        <!-- <div id="start">

            <div class="center-contents-absolute">
                <button class="btn green big">
                    START RACE
                </button>
            </div>

        </div> -->

        <div id="mile-one" class="btn-grid">
            <button class="grid-btn">
                <span class="jersey-number">1</span><br>
                <span class="runner-clock">4:37</span>
            </button>
            <button class="grid-btn" disabled>
                <span class="jersey-number">2</span><br>
                <span class="runner-clock">2:15</span>
            </button>
            <button class="grid-btn">
                <span class="jersey-number">3</span><br>
                <span class="runner-clock">8:53</span>
            </button>
            <button class="grid-btn" >
                <span class="jersey-number">4</span><br>
                <span class="runner-clock">3:44</span>
            </button>
            <button class="grid-btn">
                <span class="jersey-number">5</span><br>
                <span class="runner-clock">10:21</span>
            </button>
            <button class="grid-btn">
                <span class="jersey-number">6</span><br>
                <span class="runner-clock">0:54</span>
            </button>
            <button class="grid-btn" disabled>
                <span class="jersey-number">7</span><br>
                <span class="runner-clock">3:27</span>
            </button>
        </div>

    </body>

</html>